.container {
  display: flex;
  flex-direction: column;
  padding: 30px
}

.ajouterBtn {
  align-self: flex-end;
}

#divPagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px
}

.demo-paginator {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px
}

.assignment-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  margin-top: 20px;
  justify-content: center
}

.assignment-card {
  width: 300px;
  transition: border 0.3s ease;
}

.rendu {
  border-bottom: 4px solid green;
}

.non-rendu {
  border-bottom: 4px solid red;
}

.high{
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 14px;
  margin-top: 20px;
  align-content: center
}

.bouton_ajouter {
  color: white;
  background-color: brown;
}

.navigation{
  color: bisque;
}
